body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#message-container {
    width: 80%;
    max-width: 1200px;
}

#message-container div {
    background-color: #797777;
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: #c3bde1;
}

#send-container {
    position: fixed;
    padding-bottom: 10px;
    bottom: 0;
    background-color: #a2c7ee;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}