<body>
<style>
    div a{
        color: white;
        padding: 2px;
        font-size: 14px;
        font-width: bolder;
    }
</style>
<div style="position: fixed; bottom: 0; background-color: #1c94c4; color: black;padding-left: 10px; width: 100%;left: 0">
    <div>
        <a>link 1</a>
        <a>link 2</a>
        <a>link 3</a>
        <a>link 4</a>
        <a>link 5</a>
        <a>link 6</a>
        <a>link 7</a>
    </div>
</div>
</body>