<body class="container">
<link rel="stylesheet" href="../bootstrap.css">

<div style="padding-top: 6rem;">
    <a class="btn btn-primary" href="/" target="_self">HOME</a>
    <a class="btn btn-primary" href="/testroot" target="_self">TEST ROOT LINK</a>
    <a class="btn btn-primary" href="/books" target="_self">Books API</a>
</div>
</body>
