<head>
    <link rel="stylesheet" href="../bootstrap.css">
</head>
<body>
<%- include('header') -%>
<%- include('nav') -%>
<h1 style="font-size: 30pt; width: 400px; height:400px; padding-top:150px;" class="btn bg-danger">crap...<br/>page not found</h1>
<%- include('footer') -%>
</body>
</html>